@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "Cinzel", serif;
}

.divfont {
  font-family: "Playfair Display", serif;
}

#root {
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "Cinzel", serif;
}
